{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section id="main-content">
    <div class="wrapper">
            <div class="col-sm-12 col-xs-12 col-sm-offset-0">
            <div class="text-center">
                <h1 class="hdrcolorbg">
                   student Attendance
                </h1>
            </div>
            <form class="frmbgg clear-fx" action="." method="post"  id="attendancePlan" data-course-url="{% url 'ajax_load_course' %}" data-batch-url="{% url 'ajax_load_batch' %}" data-semestar-url="{% url 'ajax_load_sem' %}" data-subject-url="{% url 'ajax_load_subject' %}" data-attendance-url="{% url 'ajax_load_attendance' %}">
                <div class="row">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.stream| as_crispy_field}}
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.course| as_crispy_field}}
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.batch| as_crispy_field}}
                    </div>                
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.semestar| as_crispy_field}}
                    </div>
                    <div class="form-group col-sm-4 col-xs-12">
                        {{ form.subject| as_crispy_field}}
                    </div>   
                    <div class="form-group col-sm-4 col-xs-12" >
                        <label>Date</label>
                        <input type="date" name="dateinput">                      
                    </div>                   
                </div>

                <div class="row" id="attendance">
                    <div class="panel-body" style="overflow-x:auto;">
                        <table class="table table-bordered table-striped table-condensed" id="table_id">
                            <thead>
                                <tr class="hdclr">
                                    <th>Enroll No.</th>
                                    <th>Student Name</th>        
                                    <th>Total Class Held</th>
                                    <th>Total class Attended</th>
                                    <th>Total class Absent</th>                          
                                    <th>Action <input type="date" id="date"> </th>
                                    <th>Remark</th>
                                </tr>
                            </thead>
                            <tbody id="attendance_tbody"> 

                            </tbody>
                        </table>
                    </div>
                </div>               
                
            </div>
            <input type="hidden" id="student_count" value="0">
            <button class="btn btn-info save" id="submit_attn">Submit Attendance</button>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $("#id_stream").change(function(event){
        event.preventDefault();
        var url=$("#attendancePlan").attr("data-course-url");
        var stream_id=$(this).val();
        $.ajax({
            url:url,
        data:{
            'stream':stream_id,
        },
        success:function(data){
            $("#id_course").html(data);
        }
        });
    });
    $("#id_course").change(function(){
        var url=$("#attendancePlan").attr("data-batch-url");
        var course_id=$(this).val();
        $.ajax({
            url:url,
            data:{
                'course':course_id,
            },
            success:function(data){
                $("#id_batch").html(data);
            }
        });
    });
    $("#id_batch").change(function(){
        var url=$("#attendancePlan").attr("data-semestar-url");
        var batch_id=$(this).val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        $.ajax({
            url:url,
            data:{
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
            },
            success:function(data){
                $("#id_semestar").html(data);
            }
        });
    });
    $("#id_semestar").change(function(){
        var url=$("#attendancePlan").attr("data-subject-url");
        var semestar_id =$(this).val();
        $.ajax({
            url:url,
            data:{
                'semestar_id': semestar_id,
            },
            success:function(data){
                $("#id_subject").html(data);
            }
        });
    });
    $("#id_subject").change(function(){
        var url=$("#attendancePlan").attr("data-attendance-url");
        var subject_id =$(this).val();
        $.ajax({
            url:url,
            data:{
                'subject_id': subject_id,
            },
            success:function(data){
                var tableString = "";
                if(data.attendance_list.length === 0) {
                    tableString += "<tr><td></td><td></td><td></td><td>No daa available.</td><td></td><td></td><td></td></tr>";
                }
                else {
                    for(var i in data.attendance_list){
                        tableString += "<tr><td>" + data.attendance_list[i].enr_no + "</td>";
                        tableString += "<td><input type=\"hidden\" id=\"student_id"+i+"\" value=\""+data.attendance_list[i].stud_id+"\">" + data.attendance_list[i].name + "</td>";
                        tableString += "<td>" + data.attendance_list[i].total_class + "</td>";
                        tableString += "<td>" + data.attendance_list[i].class_present + "</td>";
                        tableString += "<td>" + data.attendance_list[i].class_absent + "</td>";
                        tableString += "<td><select name=\"attendance"+i+"\" id=\"attendane_type" + i + "\"><option value=\"A\">A</option><option value=\"P\">P</option><option value=\"L\">L</option></select></td>";
                        tableString += "<td><input type=\"text\" name=\"remark"+i+"\" id=\"remark" + i + "\"></td></tr>";
                    }
                }
                console.log(tableString);
                $("#attendance_tbody").html(tableString);
                $("#student_count").val(data.attendance_list.length);
            }
        });
    });
    $("#submit_attn").on('click', function(event){
        var stud_count = $("#student_count").val();
        if(stud_count>0){
            var stud_id = new Array();
            for(i=0;i<stud_count;i++){
                var student_id = "#student_id"+i;
                var stud = $(student_id).val();
                stud_id.push(stud);
                console.log(stud_id);
                console.log("2");
            }
        //     $.ajax({
        //     url:"#",
        //     data:{
        //         'subject_id': stud_count,
        //     },
        //     success:function(data){

        //     }
        // });
        }
    });
    
</script> 

{% endblock content %}