{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section id="main-content">
    <div class="wrapper">
            <div class="col-sm-8 col-xs-12 col-sm-offset-2">
            <div class="text-center">
                <h1 class="hdrcolorbg">
                    Class Timings
                </h1>
            </div>
            <form class="frmbgg clear-fx" action="." method="post"  id="assignSubjectTeacherForm" data-course-url="{% url 'ajax_load_course' %}" data-batch-url="{% url 'ajax_load_batch' %}" data-semestar-url="{% url 'ajax_load_sem' %}"  data-subject-url="{% url 'ajax_load_subject' %}">
                <div class="row">
                {% csrf_token %}
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.stream| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.course| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.batch| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.semestar| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.section| as_crispy_field}}
                </div>
                <div id="daytable" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <td>Day</td>
                                <td>Start Time</td>
                                <td>End Time</td>
                                <td>No. of Classes</td>
                                <td>No. of Break</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday</td>
                                <td><input type="time" name="intime1" id="intime1"></td>
                                <td><input type="time" name="outtime1" id="outtime1"></td>
                                <td><input type="number" name="class1" id="class1"></td>
                                <td><input type="number" name="break1" id="break1"></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td><input type="time" name="intime2" id="intime2"></td>
                                <td><input type="time" name="outtime2" id="outtime2"></td>
                                <td><input type="number" name="class2" id="class2"></td>
                                <td><input type="number" name="break2" id="break2"></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td><input type="time" name="intime3" id="intime3"></td>
                                <td><input type="time" name="outtime3" id="outtime3"></td>
                                <td><input type="number" name="class3" id="class3"></td>
                                <td><input type="number" name="break3" id="break3"></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td><input type="time" name="intime4" id="intime4"></td>
                                <td><input type="time" name="outtime4" id="outtime4"></td>
                                <td><input type="number" name="class4" id="class4"></td>
                                <td><input type="number" name="break4" id="break4"></td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td><input type="time" name="intime5" id="intime5"></td>
                                <td><input type="time" name="outtime5" id="outtime5"></td>
                                <td><input type="number" name="class5" id="class5"></td>
                                <td><input type="number" name="break5" id="break5"></td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td><input type="time" name="intime6" id="intime6"></td>
                                <td><input type="time" name="outtime6" id="outtime6"></td>
                                <td><input type="number" name="class6" id="class6"></td>
                                <td><input type="number" name="break6" id="break6"></td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td><input type="time" name="intime7" id="intime7"></td>
                                <td><input type="time" name="outtime7" id="outtime7"></td>
                                <td><input type="number" name="class7" id="class7"></td>
                                <td><input type="number" name="break7" id="break7"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <button type="submit" class="btn btn-info save" id="class_time_submit">Submit</button>
            </form>
        </div>
    </div>
           
</section>
<script type="text/javascript">
    $("#id_stream").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-course-url");
        var stream_id=$(this).val();
        $.ajax({
            url:url,
        data:{
            'stream':stream_id,
        },
        success:function(data){
            $("#id_course").html(data);
        }
        });
    });
    $("#id_course").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-batch-url");
        var course_id=$(this).val();
        $.ajax({
            url:url,
            data:{
                'course':course_id,
            },
            success:function(data){
                $("#id_batch").html(data);
            }
        });
    });
    $("#id_batch").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-semestar-url");
        var batch_id=$(this).val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        $.ajax({
            url:url,
            data:{
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
            },
            success:function(data){
                $("#id_semestar").html(data);
            }
        });
    });
    $("#id_semestar").change(function(){       
        var semestar_id =$(this).val();
        $.ajax({
            url:'/get_section_subject/',
            data:{
                'semestar_id': semestar_id,
            },
            success:function(data){
                subj_str = "<option>----------</option>";
                sec_str = "<option>----------</option>";
                if(data.subject_list.length){
                    for(var i in data.subject_list) {
                        subj_str += "<option value=\""+ data.subject_list[i].id +"\">"+ data.subject_list[i].name +"</option>";
                    }
                }
                if(data.section_list.length){
                    for(var i in data.section_list) {
                        sec_str += "<option value=\""+ data.section_list[i].id +"\">"+ data.section_list[i].name +"</option>";
                    }
                }
                $("#id_section").html(sec_str);
                $("#id_subject").html(subj_str);
            },
            error:function(data){
                $("#id_section").html("<option>----------</option>");
                $("#id_subject").html("<option>----------</option>");
            }
        });
    });
    $("#id_section").change(function(){      
        $("#daytable").show();
    });

    $("#class_time_submit").on("click", function(e){
        e.preventDefault();
    });
    
</script> 


{% endblock content %}