{% extends 'student/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<link href="{% static 'css/bootstrap-timepicker.css' %}" rel="stylesheet" />
{% block content %}
<style>
        .clk {
        position: absolute;
        right: 25px;
        top: 14px;
        font-size: 16px;
        color: #ff6c60;
    }
    .tmpbg{
        position:relative;
    }
    .mn10{
        margin-top:10px;
    }
    .daybg {
        font-size: 21px;
        font-family: 'Roboto', sans-serif;
        color: #1fb5ad;
        vertical-align: middle;
        text-align: center;
        line-height: 100px !important;
    }
    .tmop{
        margin-bottom: 5px;
    }
    .tmop .form-control{
        height: 24px;
    }
    .tmop .input-group-addon {
        padding: 3px 12px;
    }
      
    </style>
<section id="main-content">
    <div class="wrapper">
            <div class="col-sm-8 col-xs-12 col-sm-offset-2">
            <div class="text-center">
                <h1 class="hdrcolorbg">
                    Class Timings
                </h1>
            </div>
            <form class="frmbgg clear-fx"  id="assignSubjectTeacherForm" data-course-url="{% url 'ajax_load_course' %}" data-batch-url="{% url 'ajax_load_batch' %}" data-semestar-url="{% url 'ajax_load_sem' %}"  data-subject-url="{% url 'ajax_load_subject' %}">
                <div class="row">
                {% csrf_token %}
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.stream| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.course| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.batch| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.semestar| as_crispy_field}}
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    {{ form.section| as_crispy_field}}
                </div>
                <div id="daytable" style="display: none;">
                    <table>
                        <thead>
                            <tr>
                                <td>Day</td>
                                <td>Start Time</td>
                                <td>End Time</td>
                                <td>No. of Classes</td>
                                <td>No. of Break</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Monday</td>
                                <td><input type="time" name="intime1" id="intime1"></td>
                                <td><input type="time" name="outtime1" id="outtime1"></td>
                                <td><input type="number" name="class1" id="class1" value="0"></td>
                                <td><input type="number" name="break1" id="break1" value="0"></td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td><input type="time" name="intime2" id="intime2"></td>
                                <td><input type="time" name="outtime2" id="outtime2"></td>
                                <td><input type="number" name="class2" id="class2" value="0"></td>
                                <td><input type="number" name="break2" id="break2" value="0"></td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td><input type="time" name="intime3" id="intime3"></td>
                                <td><input type="time" name="outtime3" id="outtime3"></td>
                                <td><input type="number" name="class3" id="class3" value="0"></td>
                                <td><input type="number" name="break3" id="break3" value="0"></td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td><input type="time" name="intime4" id="intime4"></td>
                                <td><input type="time" name="outtime4" id="outtime4"></td>
                                <td><input type="number" name="class4" id="class4" value="0"></td>
                                <td><input type="number" name="break4" id="break4" value="0"></td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td><input type="time" name="intime5" id="intime5"></td>
                                <td><input type="time" name="outtime5" id="outtime5"></td>
                                <td><input type="number" name="class5" id="class5" value="0"></td>
                                <td><input type="number" name="break5" id="break5" value="0"></td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td><input type="time" name="intime6" id="intime6"></td>
                                <td><input type="time" name="outtime6" id="outtime6"></td>
                                <td><input type="number" name="class6" id="class6" value="0"></td>
                                <td><input type="number" name="break6" id="break6" value="0"></td>
                            </tr>
                            <tr>
                                <td>Sunday</td>
                                <td><input type="time" name="intime7" id="intime7"></td>
                                <td><input type="time" name="outtime7" id="outtime7"></td>
                                <td><input type="number" name="class7" id="class7" value="0"></td>
                                <td><input type="number" name="break7" id="break7" value="0"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <button type="submit" class="btn btn-info save" id="class_time_submit">Submit</button>
            </form>
        </div>
        
    </div>
    <div class="row" id="time_table_div" style="display: none;">
            <div class="col-lg-12">
                <div class="panel">
                    <header class="panel-heading clearfix col-sm-12">
                        <div class="col-sm-4 col-xs-12">
                            Class TimeTable Create
                        </div>
                    </header>
                    <div class="panel-body" style="overflow-x:auto;">
                        <table class="table table-bordered table-striped table-condensed" id="timetable_table">
                            <thead>
                
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
</section>
<script src="{% static 'js/bootstrap-timepicker.js' %}"></script>

<script type="text/javascript">
    
    $("#id_stream").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-course-url");
        var stream_id=$(this).val();
        $.ajax({
            url:url,
        data:{
            'stream':stream_id,
        },
        success:function(data){
            $("#id_course").html(data);
        }
        });
    });
    $("#id_course").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-batch-url");
        var course_id=$(this).val();
        $.ajax({
            url:url,
            data:{
                'course':course_id,
            },
            success:function(data){
                $("#id_batch").html(data);
            }
        });
    });
    $("#id_batch").change(function(){
        var url=$("#assignSubjectTeacherForm").attr("data-semestar-url");
        var batch_id=$(this).val();
        var course_id=$("#id_course").val();
        var stream_id = $("#id_stream").val();
        $.ajax({
            url:url,
            data:{
                'batch_id': batch_id,
                'course':course_id,
                'stream_id': stream_id,
            },
            success:function(data){
                $("#id_semestar").html(data);
            }
        });
    });
    $("#id_semestar").change(function(){       
        var semestar_id =$(this).val();
        $.ajax({
            url:'/get_section_subject/',
            data:{
                'semestar_id': semestar_id,
            },
            success:function(data){
                subj_str = "<option>----------</option>";
                sec_str = "<option>----------</option>";
                if(data.subject_list.length){
                    for(var i in data.subject_list) {
                        subj_str += "<option value=\""+ data.subject_list[i].id +"\">"+ data.subject_list[i].name +"</option>";
                    }
                }
                if(data.section_list.length){
                    for(var i in data.section_list) {
                        sec_str += "<option value=\""+ data.section_list[i].id +"\">"+ data.section_list[i].name +"</option>";
                    }
                }
                $("#id_section").html(sec_str);
                $("#id_subject").html(subj_str);
            },
            error:function(data){
                $("#id_section").html("<option>----------</option>");
                $("#id_subject").html("<option>----------</option>");
            }
        });
    });
    $("#id_section").change(function(){      
        $("#daytable").show();
    });

    $("#class_time_submit").on("click", function(e){
        e.preventDefault();
        $("#time_table_div").show();
        
        table_str = "";
        var day_of_week = ["Monday", "Tuesday", "WednesDay", "Thursday", "Friday", "Saturday", "Sunday"]
        var day_class = new Array(7);
        var maxi = 0;
        for(var i=1; i<8; i++){
            var class_div = "#class"+i;
            var break_div = "#break"+i;
            var class_count = parseInt($(class_div).val());
            var break_count = parseInt($(break_div).val());
            if(class_count>0){
                var total_count = class_count + break_count;
                if(total_count > maxi){
                    maxi = total_count;
                }
                day_class[i-0] = total_count
            } else {
                day_class[i-0] = 0;
            }
        }
        //var maxi = Math.max.apply(Math, day_class);
        console.log(maxi);
        thead_str  = '<tr class="hdclr"><th width="10%">Day</th>';
        for(i=1;i<=maxi;i++){
            thead_str += '<th>Class'+i+'</th>';
        }
        thead_str += '</tr>';
        for(var i=1; i<8; i++){
            var class_div = "#class"+i;
            var break_div = "#break"+i;
            var class_count = parseInt($(class_div).val());
            var break_count = parseInt($(break_div).val());
            if(class_count>0){
                var starttimeId = "#intime"+i;
                var endtimeId = "#outtime"+i;
                var starttime = $(starttimeId).val();
                var endtime = $(endtimeId).val();
                var total_count = class_count + break_count;
                var tr_str = "<tr><td>"+ day_of_week[i-1] +"</td>";
                for(var j=0; j<total_count; j++){
                    tr_str += '<td>';
                    tr_str += '<div class="col-sm-12 col-xs-12 tmop">';
                    tr_str += '<div class="input-group bootstrap-timepicker timepicker">';
                    if(j==0){
                        tr_str += '<input type="text" class="form-control input-small timepicker1" id="ttst'+day_of_week[i-1]+j+'" value="'+starttime+'">';
                    } else {
                        tr_str += '<input type="text" class="form-control input-small timepicker1" id="ttst'+day_of_week[i-1]+j+'">';
                    }
                    tr_str += '<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>';
                    tr_str += '</div>';
                    tr_str += '</div>';
                    tr_str += '<div class="col-sm-12 col-xs-12 tmop">';
                    tr_str += '<div class="input-group bootstrap-timepicker timepicker">';
                    if(j==(total_count-1)){
                        tr_str += '<input type="text" class="form-control input-small timepicker1" id="ttet'+day_of_week[i-1]+j+'" value="'+endtime+'">';
                    } else {
                        tr_str += '<input type="text" class="form-control input-small timepicker1" id="ttet'+day_of_week[i-1]+j+'">';
                    }
                    tr_str += '<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>';
                    tr_str += '</div>';
                    tr_str += '</div>';
                    tr_str += '<div class="form-group col-sm-12 col-xs-12 mn10">';
                    tr_str += '<select class="form-control" id="ttts'+day_of_week[i-1]+j+'">';
                    tr_str += '<option value="">----Select Teacher----</option>';
                    tr_str += '<option value="Department1">Teacher1</option>';
                    tr_str += '<option value="Department2">Teacher2</option>';
                    tr_str += '<option value="Department3">Teacher3</option>';
                    tr_str += '</select>';
                    tr_str += '</div>';
                    tr_str += '</td>';
                }
                for(; j<maxi; j++){
                    tr_str += "<td></td>";
                }
                tr_str += "</tr>";
                table_str += tr_str;
            } 
        }
        $("#timetable_table thead").html(thead_str);
        $("#timetable_table tbody").html(table_str);
        $('.timepicker1').timepicker();
    });
    
</script> 


{% endblock content %}