<aside>
    <div id="sidebar" class="nav-collapse">
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="/">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sub-menu" id="stt">
                    <a href="javascript:;">  
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span>Student Management</span>
                    </a>
                    <ul class="sub" id="stm1"> 
                        <!-- <li><a href="/admissionfrm">Student Admission</a></li> -->
                        <!-- <li><a href="/studentadmissionlist">Student Admission Details</a></li> -->
                        <li id="stm01"><a href="/applicantfrm">Student Application Form</a></li>
                        <li id="stm02"><a href="/studentadmissionform">Student Admission Form</a></li>
                        <li id="stm03"><a href="/student-list">Student List</a></li>
                        <li id="stm03"><a href="/student_enroll_list">Enroll Student</a></li>
                    </ul>
                </li>
                <li class="sub-menu" id="emp">
                    <a href="javascript:;" class="">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Employee Management </span>
                    </a>
                    <ul class="sub" id="emp1">
                        <li id="emp01"><a href="{% url 'employee_create'%}">Employee Create Form</a></li>
                        <li id="emp02"><a href="/employee">Manage Employee</a></li>                                        
                    </ul>
                </li>
                <li class="sub-menu">
                        <a href="javascript:;" class="">
                           <i class="fa fa-book" aria-hidden="true"></i>
                            <span>Admission Management </span>
                        </a>
                        <ul class="sub">
                            <li><a href="#">Student Admission</a></li>
                            <li><a href="#">Manage Employee</a></li>                                             
                        </ul>
                    </li>
                <li class="sub-menu" id="enqry">
                        <a href="javascript:;" class="">
                            <i class="fa fa-share" aria-hidden="true"></i>
                            <span>Enquiry</span>
                        </a>
                        <ul class="sub" id="enqry1">
                            <li id="enqry01"><a href="/enquiry">Enquiry</a></li>  
                            <li><a href="/applicantfrm">Take An Enquiry</a></li>                                     
                        </ul>
                </li>
                <li class="sub-menu" id="strm">
                    <a href="javascript:;" class="">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span>Course Management </span>
                    </a>
                    <ul class="sub"  id="strm1">
                        <li id="strm01"><a href="{% url 'stream_list' %}">Stream</a></li>
                        <li id="strm02"><a href="{% url 'course_list' %}">Course</a></li>
                        <li id="strm03"><a href="{% url 'batch_list' %}">Batch</a></li>
                        <li id="strm04"><a href="{% url 'section_list' %}">Section</a></li>                        
                    </ul>
                </li>
                <li class="sub-menu" id="fee">
                    <a href="javascript:;" class="">
                        <i class="fa fa-inr" aria-hidden="true"></i>
                        <span>Fees Management </span>
                    </a>
                    <ul class="sub" id="fee1">                        
                        
                        <li id="fee01"><a href="{% url 'feeplan_create' %}">Fees SetUp</a></li> 
                        <li id="fee02"><a href="{% url 'feeplan_list' %}">Fees List</a></li>                     
                        <!-- <li><a href="{% url 'batch_list' %}">Batch</a></li>
                        <li><a href="{% url 'section_list' %}">Section</a></li> -->                        
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-envelope"></i>
                        <span>Mail </span>
                    </a>
                    <ul class="sub">
                        <li><a href="#">Inbox</a></li>
                        <li><a href="#">Compose Mail</a></li>
                        <li><a href="#">View Mail</a></li>
                    </ul>
                </li>              
            </ul>
        </div>
    </div>
</aside>

<script src="/static/js/app.min.js"></script>