{% extends 'student/base.html' %}
{% load static %}
{% block content %}
<section id="main-content">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel">
                    <header class="panel-heading clearfix col-sm-12">
                        <div class="col-sm-3 col-xs-12">
                            <h1 class="hdln">Enter Enrollment No.</h1>
                        </div>
                        <div class="col-sm-3 col-xs-12">
                            <div class="input-group" style="width: 100%;">
                                <form class="form-horizontal" role="form" id="anything">
                                    <input class="form-control" type="search" name="enrollment_number" >                                
                            </div>
                        </div>
                        <div class="col-sm-1 col-xs-12">
                            <button type="submit" value="View"  class="vwert">Submit</button>
                        </div>
                    </form>
                    </header>
                    <form action="." method="POST">
                            {% csrf_token %}
                     
                    <div class="panel-body" style="overflow-x:auto;" id="showresults">
                        <h4>Enrollment Number</h4> 
                        <input class="form-control" type="text" name="enrollment_number" value="{{qs}}"> 
                        {{ form.enrollment_num }}
                        <h4>Course</h4>
                        {{ form.course }}
                        <h4>Batch</h4>
                        {{ form.batch }}
                        <h4>Fees Type</h4>
                        {{ form.fees_node }}
                        
                    </div>
                    <div class="panel-body" style="overflow-x:auto;" id="feecollection">
                    
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr class="hdclr">
                                    <th>Fee Type</th>
                                    <th colspan="2">Actual Fee</th>
                                    <th colspan="2">Approved Fee</th>
                                    <th>Action</th>
                                    <th>Action</th>
                                    <th>Action</th>
                                </tr>
                                <tr class="hdclr">
                                    <th></th>
                                    <th>Amount</th>
                                    <th>Installment</th>
                                    <th>Amount</th>
                                    <th>Installment</th>
                                    <th>First Installment</th>
                                    <th>Second Installment</th>
                                    <th>Third Installment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td>Akash</td>
                                    <td>7657893452</td>                                   
                                    <td>                                        
                                        <div class="form-group col-sm-12 col-xs-12" style="width: 150px;">
                                            <input type="text"  class="form-control" placeholder="Approval Amount" name="approve" > 
                                            {{ form.approve_fees }}                                          
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" placeholder="installments" >   
                                            {{ form.no_of_installments }}                                                                               
                                        </div>
                                    </td>                                    
                                    <td>
                                        <div class="form-group col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" placeholder="1st Installment">
                                            <input type="date" class="form-control" placeholder="date">
                                            <!-- <button type="submit" class="btn btn-default okbtn">Save</button> -->
                                            {{ form.first_installment }}                                        
                                            {{ form.due_date_first_installment }}                                        
                                        </div>
                                         
                                        <!-- <div class="panel-body collapse cls1" id="demo" aria-expanded="false">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                                        <input type="text" class="form-control" placeholder="Fee Type">
                                                    </div>
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Date</label>
                                                        <input type="text" class="form-control" placeholder="Date">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default okbtn">Ok</button>
                                                    <button type="button" class="btn btn-default cnlbtn" data-toggle="collapse">Cancel</button>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="panel-body collapse cls2" id="demo2" aria-expanded="false">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                                        <input type="text" class="form-control" placeholder="Fee Type">
                                                    </div>
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Date</label>
                                                        <input type="text" class="form-control" placeholder="Date">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default okbtn">Ok</button>
                                                    <button type="button" class="btn btn-default cnlbtn cnl2" data-toggle="collapse">Cancel</button>
                                                </div>
                                            </div>                                   
                                        </div> -->
                                    </td>
                                    <td>
                                        <div class="form-group col-sm-12 col-xs-12">
                                            <input type="text" class="form-control" placeholder="2nd Installment"> 
                                            <input type="date" class="form-control" placeholder="date"> 
                                            {{ form.second_installment }}                                                                                     
                                            {{ form.due_date_second_installment }}                                                                                     
                                        </div>
                                        <!-- <div class="panel-body collapse cls1" id="demo" aria-expanded="false">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                                        <input type="text" class="form-control" placeholder="Fee Type">
                                                    </div>
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Date</label>
                                                        <input type="text" class="form-control" placeholder="Date">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default okbtn">Ok</button>
                                                    <button type="button" class="btn btn-default cnlbtn" data-toggle="collapse">Cancel</button>
                                                </div>
                                            </div>
                                        </div> -->
                                        <!-- <div class="panel-body collapse cls2" id="demo2" aria-expanded="false">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                                        <input type="text" class="form-control" placeholder="Fee Type">
                                                    </div>
                                                    <div class="form-group col-sm-6 col-xs-12">
                                                        <label for="exampleInputEmail1" class="trm">Date</label>
                                                        <input type="text" class="form-control" placeholder="Date">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-default okbtn">Ok</button>
                                                    <button type="button" class="btn btn-default cnlbtn cnl2" data-toggle="collapse">Cancel</button>
                                                </div>
                                            </div>                                   
                                        </div> -->
                                    </td>
                                    <td>
                                            <div class="form-group col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" placeholder="3rd Installment">  
                                                <input type="date" class="form-control" placeholder="date">      
                                                {{ form.third_installment }}                                                                                     
                                                {{ form.due_date_third_installment }}                                                                            
                                            </div>
                                            <!-- <div class="panel-body collapse cls1" id="demo" aria-expanded="false">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="form-group col-sm-6 col-xs-12">
                                                            <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                                            <input type="text" class="form-control" placeholder="Fee Type">
                                                        </div>
                                                        <div class="form-group col-sm-6 col-xs-12">
                                                            <label for="exampleInputEmail1" class="trm">Date</label>
                                                            <input type="text" class="form-control" placeholder="Date">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-default okbtn">Ok</button>
                                                        <button type="button" class="btn btn-default cnlbtn" data-toggle="collapse">Cancel</button>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <!-- <div class="panel-body collapse cls2" id="demo2" aria-expanded="false">
                                                <div class="modal-content">
                                                    <div class="modal-body">
                                                        <div class="form-group col-sm-6 col-xs-12">
                                                            <label for="exampleInputEmail1" class="trm">Fee Type</label>
                                                            <input type="text" class="form-control" placeholder="Fee Type">
                                                        </div>
                                                        <div class="form-group col-sm-6 col-xs-12">
                                                            <label for="exampleInputEmail1" class="trm">Date</label>
                                                            <input type="text" class="form-control" placeholder="Date">
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-default okbtn">Ok</button>
                                                        <button type="button" class="btn btn-default cnlbtn cnl2" data-toggle="collapse">Cancel</button>
                                                    </div>
                                                </div>                                   
                                            </div> -->
                                        </td>
                                </tr> 
                                                                   
                            </tbody>
                            
                            
                        
                        </table>
                        <div class="form-group col-sm-2 col-xs-2">
                                <button type="submit" class="btn btn-default okbtn">Submit</button>
                            </div>
                    </form>  
                    </div>                          
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $('.cnlbtn').click(function () {
        $('.cls1').hide();
    });
    $('.cnl2').click(function () {
        $('.cls2').hide();
    });
    $('.bt1').click(function () {
        $('.cls1').show();
    });
    $('.bt2').click(function () {
        $('.cls2').show();
    });
</script>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript">
    
</script>
{% endblock content %}

